<a href="https://colab.research.google.com/github/strawndri/data-visualization/blob/main/Notebooks/Gorjetas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importações

In [6]:
import pandas as pd

#Base de Dados

In [21]:
url = 'https://raw.githubusercontent.com/strawndri/data-visualization/main/Data/tips.csv'
dados = pd.read_csv(url)
dados.head()

   total_bill   tip dessert  day    time  size
0       16.99  1.01      No  Sun  Dinner     2
1       10.34  1.66      No  Sun  Dinner     3
2       21.01  3.50      No  Sun  Dinner     3
3       23.68  3.31      No  Sun  Dinner     2
4       24.59  3.61      No  Sun  Dinner     4

# Tradução

##Colunas

In [23]:
dados.columns

Index(['total_bill', 'tip', 'dessert', 'day', 'time', 'size'], dtype='object')

In [24]:
renomear = {'total_bill': 'valor_da_conta',
            'tip': 'gorjeta',
            'dessert': 'sobremesa',
            'day': 'dia_da_semana',
            'time': 'horario',
            'size': 'total_pessoas'}

In [25]:
gorjetas = dados.rename(columns = renomear)

In [26]:
gorjetas.head()

   valor_da_conta  gorjeta sobremesa dia_da_semana horario  total_pessoas
0           16.99     1.01        No           Sun  Dinner              2
1           10.34     1.66        No           Sun  Dinner              3
2           21.01     3.50        No           Sun  Dinner              3
3           23.68     3.31        No           Sun  Dinner              2
4           24.59     3.61        No           Sun  Dinner              4

##Linhas

In [27]:
gorjetas.sobremesa.unique()

array(['No', 'Yes'], dtype=object)

In [30]:
valores_sobremesa = {
    'No': 'Não',
    'Yes': 'Sim'
}

gorjetas.sobremesa = gorjetas.sobremesa.map(valores_sobremesa)



---

In [31]:
gorjetas.dia_da_semana.unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [32]:
valores_dia_da_semana = {'Sun': 'Domingo', 
                         'Sat': 'Sábado',
                         'Thur': 'Quinta',
                         'Fri': 'Sexta'
}

gorjetas.dia_da_semana = gorjetas.dia_da_semana.map(valores_dia_da_semana)



---

In [33]:
gorjetas.horario.unique()

array(['Dinner', 'Lunch'], dtype=object)

In [34]:
valores_horario = {
    'Dinner': 'Janta',
     'Lunch': 'Almoço'
}

gorjetas.horario = gorjetas.horario.map(valores_horario)

In [35]:
gorjetas.head()

   valor_da_conta  gorjeta sobremesa dia_da_semana horario  total_pessoas
0           16.99     1.01       Não       Domingo   Janta              2
1           10.34     1.66       Não       Domingo   Janta              3
2           21.01     3.50       Não       Domingo   Janta              3
3           23.68     3.31       Não       Domingo   Janta              2
4           24.59     3.61       Não       Domingo   Janta              4